.main {
	display: flex;
	flex-wrap: wrap;
	padding: 48px / $width * 100vw 81px / $width * 100vw 0;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-between;
	// align-items: center;
	text-align: left;
	font-family: Lato;
	position: relative;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 40%;
		margin-top: 48px / $width * 100vw;
		box-sizing: border-box;
		z-index:8;
		&:nth-of-type(1) {
			//margin-bottom: 785px / $width * 100vw;
			margin-bottom: 100px / $width * 100vw;
		}
		&:nth-of-type(2) {
			@extend .main__container:nth-of-type(1);
		}
		&:nth-of-type(2n) {
				.container__block_midle {
					margin-left: 213px / $width * 100vw;
				}
				.container__block_bottom {
					margin-left: 213px / $width * 100vw;
				}
			}
	}
	&__contact-box {
		left: 50% - (544px / $width * 100%);
		width: 1088px / $width * 100vw;
		height: 1120px / $width * 100vw;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: 1s;
	}
}
.container{
	&__block {
		display: flex;
		flex-direction: column;
		&_top {
			flex-direction: row;
			align-items: center;
			margin-bottom: 30px / $width * 100vw;
		}
		&_midle {
			padding-bottom: 63px / $width * 100vw;
			margin-bottom: 57px / $width * 100vw;
			@extend .container__block_bottom;
		}
		&_bottom {
			margin-left: 30px / $width * 100vw;
			
		}
		&_lists {
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			box-sizing: border-box;
		}
	}
	&__sphere {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 181px / $width * 100vw;
		height: 181px / $width * 100vw;
		margin-right: 31px / $width * 100vw;;
		border-radius: 50% 50%;
		background-color: $colorSphere;
		transform-style: preserve-3d;
	}
	&__icon {
		width: 94px / $width * 100vw;
		height: 73px / $width * 100vw;
		&_front {
			transform: translateZ(2px);
			border-radius: 50% 50%;
			background-color: $colorSphere;
			position: absolute;
			width: 120px / $width * 100vw;
			height: 120px / $width * 100vw;
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
		}
		&_back {
			transform: translateZ(-2px) rotateY(180deg);
			border-radius: 50% 50%;
			background-color: $colorSphere;
			position: absolute;
			width: 120px / $width * 100vw;
			height: 120px / $width * 100vw;
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	&__title {
		font-family: $fontTitle;
		font-size: 83px / $width * 100vw;
		color: $colorTitle;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__subtitle {
		//font-family: $fontText;
		font-weight: 700;
		color: $colorText;
		font-size: 42px / $width * 100vw;
		margin-bottom: 60px / $width * 100vw;

		&_bold {
			font-family: $fontTitle;
			font-size: 63px / $width * 100vw;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	&__text {
		@extend .container__subtitle;
		font-weight: 400;
		&_small {
			width: 60%;
		}
	}
	&__list {
		margin-right: 20%;
	}
	&_first .container__sphere, &_second .container__sphere, &_third .container__sphere, &_fourth .container__sphere {
		transition: 1s;
	}
	&_first:hover .container__sphere, &_second:hover .container__sphere, &_third:hover .container__sphere, &_fourth:hover .container__sphere {
		transform: rotateY(180deg);
	}
	&_first:hover .container__icon_back img, &_second:hover .container__icon_back img, &_third:hover .container__icon_back img, &_fourth:hover .container__icon_back img, {
	animation: roll 5s infinite linear forwards;
}
}
.list {
	&__item {
		list-style-type: none;
		font-size: 42px / $width * 100vw;
		color: $colorText;
		font-weight: 400;
	}
}
.contact-box {
	&_wrap {
		width: 100%;
	}
	&__bubble-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		background: url('images/bubble-wrapper.png') left top no-repeat;
		background-size: cover;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: roll 15s infinite linear;
		z-index: 1;
	}
	&__circles-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: unroll 20s infinite linear;
	z-index: 0;
	}
	&__circle {
		background-color: rgba(251, 233, 87, .6);
		width: 350px / $width * 100vw;
		height: 350px / $width * 100vw;
		border-radius: 50% 50%;
		position: absolute;
		&_top {
			top: -400px / $width * 100%;
			left: 50% - (350px / $width * 100%);
		}
		&_right {
			right: -400px / $width * 100%;
			top: 50% - (350px / $width * 100%);
		}
		&_bottom {
			bottom: -400px / $width * 100%;
			left: 50% - (350px / $width * 100%);
		}
		&_left {
			left: -400px / $width * 100%;
			top: 50% - (350px / $width * 100%);
		}
	}
	&__icon {
		width: 45px / $width * 100vw;
		height: auto;
		&:last-of-type {
			height: 42px / $width * 100vw;
			width: auto;
		}
	}
	&__title {
		color: $colorText;
		font-weight: 400;
		font-size: 50px / $width * 100vw;
		&_big {
			font-size: 83px / $width * 100vw;
			color: #fff;
			font-family: $fontTitle;
			text-transform: uppercase;
		}
	}
	&__hole {
		width: 82px / $width * 100vw;
		height: 82px / $width * 100vw;
		box-shadow: inset 5px / $width * 100vw 9px / $width * 100vw 29px / $width * 100vw #5b5800;
		border: 10px / $width * 100vw solid #fff;
		border-radius: 50% 50%;
		position: absolute;
		top: 33px / $width * 100vw;
		left: 50% - (41px / 1088px * 100%);
	}
	&__rope {
		position: absolute;
		&_front {
			height: 1400px / $width * 100vw;
			width: 100px / $width * 100vw;
			left: 17.8vw;
			background: url('images/ropeFront.png') left top no-repeat;
			background-size: contain;
			z-index: 3;
			bottom: 91%;
		}
		&_back {
			height: 1400px / $width * 100vw;
			width: 100px / $width * 100vw;
			background: url('images/ropeBack.png') left top no-repeat;
			background-size: contain;
			z-index: 2;
			left: 45.6%;
			bottom: 85%;
		}
	}
	&__sphere {
		width: 962px / $width * 100vw;
		height: 962px / $width * 100vw;
		border: 10px / $width * 100vw solid #fff;
		border-radius: 50% 50%;
		background-color: $colorSphere;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		transition: none;
		z-index: 6;
		&_small {
			width: 102px / $width * 100vw;
			height: 102px / $width * 100vw;
			border-radius: 50% 50%;
			background-color: $colorSphereSmall;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 34px / $width * 100vw;
		}
	}
	&__website-box {
		width: 740px / $width * 100vw;
		margin: 20px / $width * 100vw 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__phone-box {
		@extend .contact-box__website-box;
	}
	&__email-box {
		@extend .contact-box__website-box;
	}
	&__website {
		color: #fff;
		font-size: 50px / $width * 100vw;
		font-weight: 700;
	}
	&__phone {
		@extend .contact-box__website;
	}
	&__email {
		@extend .contact-box__website;
	}
}
.container-button {
	margin-left: 8vw;
	width: 14vw;
	height: 4vw;
	&__sides {
		transform-style: preserve-3d;
		position: relative;
		width: 100%;
		height: 100%;
		transition: 1s;
	}
	&__side {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
		&_front {
			transform: translateZ(2px);
			background-color: yellow;
		}
		&_back {
			transform: translateZ(-2px) rotateX(180deg);
			background-color: green;
		}
	}
	&__checkbox:checked + label .container-button__sides {
		transform: rotateX(-180deg);
	}
}
.hide,
.hide + label ~ .container__block_bottom {
	display: none;
}

@keyframes roll {
	0% {
		transform: rotateZ(0deg)
	}
	100% {transform: rotateZ(360deg)}
}
@keyframes unroll {
	0% {
		transform: rotateZ(0deg);
		width: 100%;
		height: 100%;
	}
	25% {
		width: 120%;
		height: 120%;
	}
	50% {
		width: 100%;
		height: 100%;
	}
	75% {
		width: 120%;
		height: 120%;
	}
	100% {
		transform: rotateZ(-360deg);
	}
}
// @keyframes turn {
// 	100% {transform: rotateY(180deg)}
// }
