- var header__title = 'John Doe'
- var header__subtitle = 'web & Graphic designer'

- var boxFirstTop = {icon: 'images/arrow.png', iconBack: 'images/gear.svg', titleBig: 'ABOUT  Me'}
- var boxFirstMidle = {text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum consectetur nisl vitae vehicula. Aliquam ultricies euismod condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'}
- var boxFirstBottom = {subtitleBold: 'Objective', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum consectetur nisl vitae vehicula.'}

- var content_block_third = [boxFirstTop, boxFirstMidle, boxFirstBottom, 3]

- var boxSecondTop = {icon: 'images/arrow.png', iconBack: 'images/gear.svg', titleBig: 'Education'}
- var boxSecondMidle = {subtitle: 'Major in Graphic Design', text: 'School of Graphic Design & MultimediaUrban Teckno University'}
- var boxSecondBottom = {subtitle: 'Bachelor’s Degree in Arts', text: 'School of Arts & Science Government College for Men'}

- var content_block_fourth = [boxSecondTop, boxSecondMidle, boxSecondBottom, 4]

- var boxThirdTop = {icon: 'images/arrow.png', iconBack: 'images/gear.svg', titleBig: 'skills'}
- var boxThirdMidle = {list1: ['Graphic Design', 'Logo Design', 'Web Design', 'Creative Design'], list2: ['Photoshop', 'Illustrator', 'InDesign', '3DMax']}
- var boxThirdBottom = {list1: ['HTML / CSS', 'Wordpress', 'Drupal', 'Magento'], list2: ['Friendly', 'Creative', 'Team Player', 'Self Learner']}

- var content_block_first = [boxThirdTop, boxThirdMidle, boxThirdBottom, 1]

- var boxFourthTop = {icon: 'images/arrow.png', iconBack: 'images/gear.svg', iconBack: 'images/gear.svg', titleBig: 'experience'}
- var boxFourthMidle = {subtitle: '2009-2010', text: 'Interactive Graphic Design Multimedia, GraphicsFuel.com'}
- var boxFourthBottom = {subtitle: '2010-2011', text: 'Creative Graphic Designer GF Design Factory'}

- var content_block_second = [boxFourthTop, boxFourthMidle, boxFourthBottom, 2]

- var contactBoxWebsite = {icon: 'images/contactBoxWebsite.png', title: 'Website:', website: 'www.GraphicsFuel.com'}
- var contactBoxPhone = {icon: 'images/contactBoxPhone.png', title: 'Mobile:', phone: '+91 9123456789'}
- var contactBoxEmail = {icon: 'images/contactBoxEmail.png', title: 'Email:', email: 'graphicsfuel@gmail.com'}

- var contactBoxs = [contactBoxWebsite, contactBoxPhone, contactBoxEmail]
