- var header__title = 'ANDRII STIAHAILO'
- var header__subtitle = 'FRONT-END DEVELOPER'

- var boxFirstTop = {icon: 'images/arrow.png', iconBack: 'images/gear.svg', titleBig: 'SUMMARY'}
- var boxFirstMidle = {text: ' I\'m a creative front-end developer with over one year of experience. I\'m eager to learn and use new technologies as they emerge.'}
- var boxFirstBottom = {text: 'Reliable and dedicated with the ability to learn quickly and work in a fast paced environment.'}

- var content_block_second = [boxFirstTop, boxFirstMidle, boxFirstBottom, 3]

- var boxSecondTop = {icon: 'images/arrow.png', iconBack: 'images/gear.svg', titleBig: 'Education'}
- var boxSecondMidle = {subtitle: 'Course Front-end pro', text: 'September 2016 - January 2017	Hillel IT School, Odessa'}
- var boxSecondBottom = {subtitle: 'Diploma - Enterprise economy', text: 'September 2011 - June 2015	ONAFT (Odessa National Academy Food Technologies)'}

- var content_block_fourth = [boxSecondTop, boxSecondMidle, boxSecondBottom, 4]

- var boxThirdTop = {icon: 'images/arrow.png', iconBack: 'images/gear.svg', titleBig: 'skills'}
- var boxThirdMidle = {list1: ['HTML5/CSS3', 'Javascript', 'JQuery', 'ReactJS'], list2: ['Sass/Scss', 'Pug', 'Gulp/Webpack', 'GitHub']}
- var boxThirdBottom = {list1: ['Bootstrap', 'Wordpress', 'Avocode', 'Photoshop'], list2: ['OOP JS', 'Ajax request', 'API', 'BEM']}

- var content_block_first = [boxThirdTop, boxThirdMidle, boxThirdBottom, 1]

- var boxFourthTop = {icon: 'images/arrow.png', iconBack: 'images/gear.svg', iconBack: 'images/gear.svg', titleBig: 'Responsibilities'}
- var boxFourthMidle = {list1: ['Develop usable websites based on web standards, flexibility and accessibility.', 'Use Avocode and Photoshop for website mockups.', 'Develop layout web applications with Pug and React.js.']}
- var boxFourthBottom = {list1: ['Write simple plugins and animations in JavaScript.', 'Use BEM methodology for making source code more readable and understandable.']}

- var content_block_third = [boxFourthTop, boxFourthMidle, boxFourthBottom, 2]

- var contactBoxWebsite = {icon: 'images/contactBoxWebsite.png', title: 'Skype:', website: 'jewelrykas'}
- var contactBoxPhone = {icon: 'images/contactBoxPhone.png', title: 'Mobile:', phone: '+380-63-619-00-55'}
- var contactBoxGit = {icon: 'images/contactBoxGit.png', title: 'GitHub:', git: 'https://github.com/ZeilD'}
- var contactBoxEmail = {icon: 'images/contactBoxEmail.png', title: 'Email:', email: 'kasjewelfr@gmail.com'}

- var contactBoxs = [contactBoxWebsite, contactBoxPhone, contactBoxGit, contactBoxEmail]