header.header
	.header__skew-blok.skew-blok.skew-blok_right
		.skew-blok__skew-elem.skew-blok__skew-elem_big-right
			.skew-blok__skew-elem.skew-blok__skew-elem_small-right
	.header__skew-blok.skew-blok.skew-blok_left
		.skew-blok__skew-elem.skew-blok__skew-elem_big-left
		.skew-blok__skew-elem.skew-blok__skew-elem_small-left
	.row.header__row
		h1.header__title= header__title
		h2.header__subtitle= header__subtitle
	