doctype html
html
	include _constants.pug
	head
		title RESUME
		link(rel="stylesheet" href="style.css")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700" rel="stylesheet")
	body
		.wrapper
			include _header.pug
			block main
			footer.footer
				.footer__photo
	script.
		//удаление рекламы хостинга после футера
		if (document.body.querySelector('.cbalink'))
			document.body.querySelector('.cbalink').remove();
		//
		function chekSize(e) {
		let elem = e.parentElement.children
			//e.parentElement.children[2]
			//console.log(e.parentElement.children[3])
			if (!elem[3].checked)
				elem[2].classList.remove('hide')
			else
				elem[2].classList.add('hide')
		}